.game-over {
  background: white;
  border-radius: 30px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
  left: 50%;
  margin-left: -163px;
  padding: 3em 1em 1em;
  position: absolute;
  text-align: center;
  top: 260px;
  width: 300px;
  z-index: 100
}

.game-over .title {
  left: 55px;
  position: absolute;
  top: -20px;
}

.game-over h3 {
  color: #ff5400;
}

.game-over .score {
  background: #d6d6d6;
  border: 4px solid #c5c5c5;
  border-radius: 12px;
  margin: 12px;
  padding: 7px;
}

.game-over .buttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
