html,
body {
  height: 100%;
}

body {
  font-family: 'Alfa Slab One', cursive;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../img/page/bg.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Full height */
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hophopbunny {
  display: block;
  left: 50%;
  margin: auto;
  margin-left: -125px;
  position: relative;
  top: 30px;
  z-index: 500;
}
